.caixa {
    align-items: flex-end;
    display: flex;
    justify-content: center;

}

.destaques {

    display: grid;
    grid-gap: .2rem;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.3% 33.3% 33.3% 33.3%;
    height:calc(100vh - 50px);
}

.destaques__principal {
    background: url("../img/img2/lost-ark1.jpg") center / cover no-repeat;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

.destaques__secundario:nth-child(2) {
    background: url("../img/img2/red-dead-two.jpg") center / cover no-repeat;

} 


.destaques__secundario:nth-child(3) {
    background: url("../img/img2/valorant.jpg") center / cover no-repeat;

}

.destaques__secundario:nth-child(4) {
    background: url("../img/img2/cs-go.jpg") center / cover no-repeat;

}

.destaques__secundario:nth-child(5) {
    background:url("../img/img2/lol1.jpg") center / cover no-repeat;

}


.destaques__categorias {
    grid-column: 1 / 3;
    grid-row: 3 / 3;
}

.destaques__categorias___lista { 
    display: flex;
    flex-wrap: wrap; 
    height: 100%;
    justify-content: space-between;
}

.destaques__categorias___item {
    align-items: center;
    background-image: linear-gradient(to right top, #005c53, #007059, #1e8558, #409852, #66ab47, #7cb741, #94c239, #adcd30, #b8d62e, #c3e02d, #cfe92a, #dbf227);
    border-left: 5px solid transparent;
    color: #333333;
    display: flex;
    padding: 1rem;
    width: 50%;
}

.destaques__categorias___link { 
    color: inherit;
    font-size: 2rem;
}

.destaques__titulo {
    background: rgba(0, 0, 0, 0.5);
    color: #fdfdfdfd;
    padding: .6rem;
    text-align: center;
    width: 100%;

}



