/* Configs Gerais */

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway2:wght@500&display=swap');

/*-----------------*/

/* Configs Cabecalho */
.cabecalho_sociais{
    display: flex;
    justify-content: space-between;
    background-color: #2A2A2A;
    position: relative;
    align-items: center;
}

.cabecalho_sociais  ul li{
    display: inline-block;
    color: rgba(240, 255, 255, 0.822);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.cabecalho_sociais a{
    text-decoration: none;
    color: rgb(240, 255, 255);
    margin: 0 1.5rem; 
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
}

.cabecalho_sociais img{
    width: 1.2rem;
    padding-top: .20rem;
}

.instagram {
    padding-left: .5rem;
}
.cabecalho_sociais__nav___cadastrar a{
    color: #7966FF;
}

.cabecalho_navegacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
}

.cabecalho_navegacao ul li{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
}

.cabecalho_navegacao a{
    text-decoration: none;
    margin: 0 1rem; 
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(240, 255, 255);
}

.cabecalho_navegacao a:hover{
    color: #6F5EF8;
}
.cabecalho_navegacao img{
    width: 8rem;
}

.cabecalho_navegacao__logo{
    display: flex;
    align-items: center;
}

.cabecalho_navegacao__logo h3{
    font-weight: 550;
    text-transform: uppercase;
    font-family: 'Raleway2', sans-serif;
    font-size: 2rem;
    background-image: linear-gradient(to right top, #4f36ff, #6851ff, #7e6aff, #9181fd, #a497fa);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 2.2;
}

.cabecalho_navegacao__cadastrar a{
    font-family: 'Raleway', sans-serif;
}

.cabecalho_navegacao__cadastrar a{
    padding-right: .80rem;
}


.cabecalho_navegacao__cadastrar li a{
    font-size: 8px;
    text-decoration: none;
    list-style: none;
}
/*------------------------*/

.principal {
    height: auto;
    background: linear-gradient(to right top, #2d4286, #263578, #1f286a, #181b5c, #110e4e);
    font-family: 'Press Start 2P', cursive;
}

/* Listas start*/
.principal__categorias___lista {
    display: flex;
    justify-content: center;
    
}

.principal__categorias___item {
    height: auto;
    text-transform: uppercase;
    padding-left: 1rem;
    padding: 1rem;

}

.destaques__categorias___link {
    display: flex;
    background-color: #72146d;
    color: rgb(0, 0, 0);
    border: solid 3px #2e0563;
    border-radius: 10px;
    padding: .6rem;
    font-size: 1rem;

}

i {
    padding-right: .3rem;
}
/* Listas end*/

/* Listas Jogos Start Lançamentos*/

.principal__jogos {
    display: flex;
    flex-wrap: wrap;
    max-width: 70rem;
    margin: 0 auto;

}

.principal__jogos img {
    width: 100%;
    display: block;
    border-radius: .6rem .6rem 0 0;

}

.principal__jogos div {
    flex: 1 1 20rem;
    margin: 1rem;
}

.principal__jogos h3 {
    display: flex;
    justify-content:center;
    padding: .3rem;
    background-color: #1f5f9b;
    font-size: .95rem;
    border-radius: 0 0 .1rem .1rem;
    color: aqua;
}

.destaques__jogos___anchor {
    color:inherit;
}

/* Listas Jogos end Lançamentos*/

/* config dos botoes de avançar e retornar */

.botoes {
    display: flex;
    justify-content:space-between;
    margin:0 30%;
    padding-bottom: 1rem;
    font-size: .7rem;
}


.rodape {
    display:flex;
    background: rgb(27, 121, 150);
    align-items: center;
    text-align: center;
    justify-content: center;
}

#logoRodape {
    margin-top: 1rem;
    color: black;
}

.rodapeTexto {
    margin-bottom: 2rem;
}