/* Configs Gerais */

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    font-family: 'Poppins', sans-serif;

}

.cabecalho_navegacao{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    background-color: #121212;
    padding: .5rem 3rem;
    box-shadow: #922A66 0px -20px 36px -28px inset;
    
}

.texto_navegacao {
    margin-left: 6rem;
}

.cabecalho_navegacao ul li{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
}

.cabecalho_navegacao a{
    font-size: 1.4rem;
    margin-left: 1rem;
}

.cabecalho_navegacao a:hover{
    color: #922A66;
}


.cabecalho_navegacao__logo img{
    width: 100%;
}


.navegacao{
    background-color: #302f2f;
    padding-top: 2rem;    
}



.principal {
    background-image: linear-gradient(to bottom, #302f2f, #525151, #767676, #9d9c9d, #c5c5c5);
    font-family: 'Poppins', sans-serif;
    padding-bottom: 5rem;
}


/* Listas Jogos Start Lançamentos*/

.principal__jogos {
    display: flex;
    flex-wrap: wrap;
    max-width: 70rem;
    margin: 0 auto;
    

}

.principal__jogos img {
    width: 100%;
    display: block;
    border-radius: .6rem .6rem 0 0;
}

.principal__jogos div {
    flex: 1 1 20rem;
    margin: 1rem;
}

.principal__jogos h3 {
    display: flex;
    justify-content:center;
    padding: .3rem;
    background-color: rgb(0, 0, 0);
    font-size: 1.2rem;
    border-radius: 0 0 .1rem .1rem;
    color: #e1e1e1;
    box-shadow: #922A66 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}





.rodape {
    background: rgb(55, 52, 52);
    align-items: center;
    text-align: center;
    color: #ffffffa8;
    box-shadow: #922A66 0px 2px 4px 0px inset;
}




.navegacao{
    display: flex;
    justify-content: center;
}

.navegacao ul{
    display: flex;
}

.navegacao li{
    margin:1.7rem 1.4rem;
}

.paginas {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .paginas:focus,
  .paginas:hover {
    color: #A62E6E;
  }
  
  .paginas:focus:after,
  .paginas:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .paginas:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #A62E6E ;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  @media screen and (max-width: 800px) {

    .cabecalho_navegacao{
        flex-direction: column;
    }

    #img-Doge{
     padding-right: 5rem;   
    }

    .navegacao{
        width: 100%;
        display: flex;
    }

    .navegacao ul{
        margin: auto;
    }

    .navegacao li{
        justify-content: space-between;    
        margin: auto;
        padding: 0.5rem;
    }
  }

  @media screen and (max-width: 395px) {

    .navegacao{
        display: flex;
    }

    .navegacao ul{
        display: block;
    }
  }

::-webkit-scrollbar{
    width: 8px;
    
}
::-webkit-scrollbar-track{
    
    border-radius: 0px;
    background: #000000;
    
}
::-webkit-scrollbar-thumb{
    background-color: #922a67c0;
    border-radius: 0px; 
    
}