/* Cores 
--1 #06BFBF (azul calro)
--2 #07F2B0 (verde agua)
*/


@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

@keyframes bouce {
    0%, 20%, 60%, 100%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    
    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);

    }
    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);

    }

}

.app {
    background: #f1f1f1;
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas:
        "cabecalho"
        "conteudo"
        "rodape" ;
    grid-template-columns: auto;
    grid-template-rows: 50px 100vh auto;
}

.cabecalho {
    background: #00cc99;
    grid-area: cabecalho;
}
 
.conteudo {
    background: #ff8080;  
    grid-area: conteudo;
}

.rodape {
    background: #0099ff;
    grid-area: rodape;
}


.container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background-color: black;
    width: 100%;
    padding: 10px;
}

.logo{
    width: 25%;
    cursor: pointer;
}

.sociais{
    width: 25%;
}

.sociais__logo1, .sociais__logo2, .sociais__logo3{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-image: linear-gradient(to right top, #005c53, #007059, #1e8558, #409852, #66ab47, #7cb741, #94c239, #adcd30, #b8d62e, #c3e02d, #cfe92a, #dbf227);
    border: none;
    margin-right: 5px;
}
.sociais__logo1, .sociais__logo2, .sociais__logo3 , i{
    font-size: 23px;
}

.menu{
    width: 80%;
    font-family: 'Fredoka', sans-serif;
}

.menu nav a{
    color: white;
    text-decoration: none;
    padding-right: 50px;
    font-size: 20px;
}

input{
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin: auto;

}

.sociais__logo1:hover{
    animation: bouce 1s;
}

.sociais__logo2:hover{
    animation: bouce 1s;
}

.sociais__logo3:hover{
    animation: bouce 1s;
}
