main {
    font-family: 'Press Start 2P', cursive;
}

body {
    height: auto;
    background: #121212;
}

#logoCao{
    margin-top: 2rem;
    width: 32%;
}

.logoCadastro {
    width: 100%;
    display: inline-block;
    align-items: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    background: -webkit-linear-gradient(left, #375180 100%, #375180 100%) ;
    background: linear-gradient(to right, #922A66 0%, #375180 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.plataformaForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
}


.formCadrastro__label , .plataforma__label{
	font-size: 1.2rem;
	margin: 1rem 1rem 1rem 0rem;
    font-weight: bold;
}

.formCadrastro__input ,.plataforma__input {
    background: transparent;
    border: 2px solid #922A66; 
    border-radius: .3rem;
    display: flex;
	padding: .7rem .5rem;
	margin: 1rem 0 1rem 0;
    font-size: 1.1rem;
    color: #375180;
}

.plataforma__ul{
    display: flex;
    padding-top: 1.5rem;
    margin-left: .2rem;
    align-items: center;
}

.plataforma__li {
    font-size: 1rem;
    text-align: center;
    width: 6.8rem;
    border-radius: .3rem;
    padding: .7rem .2rem .7rem .2rem;
    font-weight: bold;
    text-transform: uppercase;
    Transition: 1s all;
}



.formCadastro #enviar:hover {
   Transform: scale(1.1); 
   Cursor: pointer;
}


.formCadastro__geral{
   display:inline-block;
   background: #2A2A2A;
   border: .3rem solid rgb(240, 255, 255);
   border-radius: .5rem;
   padding: 0 1.5rem 1.5rem 1.5rem;

   box-shadow: inset 0 0 1em  #A62E6E, 0 0 1em;
}

.formCadrastro__label , .plataforma__label , .listaTitulo , .loginDoge {
    color: #375180;
    background-image: linear-gradient(to right top, #375180, #375180, #922A66, #922A66, #922A66);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login {
    margin-left: 1rem;
}

.plataforma {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem ;
}


.listaTitulo {
    font-size: .9rem;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.checkboxSection{
    
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(240, 255, 255);
    font-size: 1rem;
    margin-left: 0.4rem;
}

.checkboxSection__li {
    margin: 1rem auto;
}

.descricaoCadastar__a{
    color: rgb(240, 255, 255);
}

.descricaoCadastar__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.descricaoCadastar__ul{
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    color: rgb(240, 255, 255);
}


#enviar {
    --glow-color: #922a67;
    --glow-spread-color: #922A66;
    --enhanced-glow-color: #425a80;
    --btn-color: rgba(59, 82, 121, 0);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 11em .2em var(--glow-color),
           0 0 1em 0em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   #enviar::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   #enviar:hover {
    color: #a1aabb;
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   #enviar:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }



/* SUCESSO E ERROR */

.inputError{
    border: .3rem solid #DB5A5a  !important ;
    box-shadow: inset 0 0 1em  #DB5A5a, 0 0 0rem !important;
}






@media screen and (max-width: 1040px) {

    .formCadastro__geral{
        width: 100%;
    }

    .formCadrastro__input{
        width: 100%;
    }

    .plataforma__ul, .plataforma__input{
        display: inline-block;
        margin: 0%;
        align-items: center;
    }

    .plataforma__li {
       margin: 0%;
    }

    #pc, #console, #mobile {
        display: flex;
        width: 100%;
        margin-bottom: 0.5rem;
    }
}