html {
    font-family: 'Press Start 2P', cursive;
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}

body {
    background-image: linear-gradient(to right top, #2d4286, #263578, #1f286a, #181b5c, #110e4e);
    background-size: cover;
    background-repeat: 0;
}

.subititulo {   
    text-align: center;
    color:  #ffbb00;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.plataforma {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20rem ;
}

.plataformaForm{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.login{
    margin-right: 10rem;
}

 .formCadastro form label  {
    color: #ffbb00;;
	font-size: 2.2rem;
	margin: 0rem 1rem 1rem 0rem;
    text-align: left;
    font-weight: bold;
}

.formCadastro form input {
    border: 0.3rem solid #ffbb00;
    display: flex;
	padding: 1rem;
	margin: 1rem 1rem 2.5rem 0rem;
    font-size: 2rem;
}

    #enviar {
    font-size: 2rem;
    background: linear-gradient(to top, #ffbb00, #ffb183, #ffc4d8, #ffe5ff, #ffffff);
    font-weight: bolder;
    text-transform: uppercase;
    Transition: 1s all;
}

.formCadastro ul{
    display: inline-block;
    padding-top: 2.5rem;
}

.plataformaImg {
    width: 25%;
}


.formCadastro li {
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    width: 20rem;
    color: #ffbb00;
    border: 3px solid transparent;
    border-image: linear-gradient(to top, #ffbb00, #ffb183, #ffc4d8, #ffe5ff, #ffffff);
    border-image-slice: 1;
    padding: 1rem .2rem 1rem .2rem;
    margin: 0 1rem 1rem 0rem;
    font-weight: bold;
    text-transform: uppercase;
    Transition: 1s all;
}

#pc, #console, #mobile {
    margin-left: 9.5rem;
}

.sec {
    justify-content: center;
    margin-top: 11.5rem;
    display: inline-block;
}


.formCadastro li:hover {
     color: #ffbb00;
     border: 3px solid #ffbb00;
     Transform: scale(1.1); 
     Cursor: pointer;
}

.formCadastro .enviar:hover {
    background: #ffbb00;
    Transform: scale(1.1); 
    Cursor: pointer;
}

.formCadastro label:hover{
    color: #ECC84E
}

