body {
    background: #000000a9;
}

h1 {
    color: #ffffff;
    font-size: 4em;
    position: absolute;
    top: 20%;
    left: 53%;
    transform: translate(-50%, -50%);
}


.login {
    width: 20%;
    color: #ffffff;
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
}

form label  {
    color: #ffffff;
    display: flex;
	font-size: 1.5em;
	margin: 0em 1em 0.5em 0em;
}

form input {
    display: flex;
	padding: 0.5em 6em 0.5em;
	margin: 0em 0em  1.0em;
    border: 4px solid #ffffff;
    border-radius: 10em;
}

.enviar {
    display: flex;
    margin: 0px 0 0 165px ;
    padding: 5px  5px;
}

.plataforma {
    position: absolute;
    top: 65%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
}

ul{
    display: inline-flex;
    
}

li {
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    padding: 50px;
    margin: 2em;
    font-weight: bold;
}

li:hover {
     border: 3px solid rgb(0, 0, 0);
     color: rgb(0, 0, 0);
}

