html {
    font-family: 'Press Start 2P', cursive;
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}

body {
    background-image: linear-gradient(to right top, #2d4286, #263578, #1f286a, #181b5c, #110e4e);
    background-size: cover;
    background-repeat: 0;
}

.subititulo {   
    text-align: center;
    color:  #ffbb00;
    font-size: 4rem;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: bold;

}

.plataforma {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.login {
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
}

 .formCadastro form label  {

    color: #ffbb00;;
	font-size: 2.2rem;
	margin: 0rem 1rem 1rem 0rem;
    text-align: left;
    font-weight: bold;
}

.formCadastro form input {
    border: 0.3rem solid #ffbb00;
    display: flex;
	padding: 1.2rem 1.2rem 1.2rem;
	margin: 1rem 1rem 2.5rem 0rem;
    font-size: 2rem;
}

.formCadastro .enviar {
    font-size: 2rem;
    background: linear-gradient(to top, #ffbb00, #ffb183, #ffc4d8, #ffe5ff, #ffffff);
    font-weight: bolder;
    text-transform: uppercase;
    display: flex;
    margin: 3rem 0rem 0rem 11rem ;
    padding: 1rem 2rem;
    Transition: 1s all;
}

.formCadastro ul{
    display: inline-flex;
    padding-top: 8rem;
}


.formCadastro li {
    font-size: 2rem;
    text-align: center;
    display: inline-block;
    width: 30rem;
    color: #ffbb00;
    border: 3px solid transparent;
    border-image: linear-gradient(to top, #ffbb00, #ffb183, #ffc4d8, #ffe5ff, #ffffff);
    border-image-slice: 1;
    padding: 4rem 2rem 4rem 2rem;
    margin: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    Transition: 1s all;
}

.formCadastro li:hover {
     color: #ffbb00;
     border: 3px solid #ffbb00;
     Transform: scale(1.1); 
     Cursor: pointer;
}

.formCadastro .enviar:hover {
    background: #ffbb00;
    Transform: scale(1.1); 
    Cursor: pointer;
}

.formCadastro label:hover{
    color: #ECC84E
}

